main {

    background-image: url(/Imagens/background\ site.jpg);
    background-repeat: no-repeat;
    margin: 10px auto;
    padding: 10px;
    overflow: hidden;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color:aliceblue;
}

header {
    color: #fff;
    padding: 1px;
    text-align: center;
    background-color: rgb(11, 37, 85);
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #444;
    overflow: hidden;
    width: 200px;
    margin-left: 625px;
}

li a {
    display: block;
    text-decoration: none;
    background-color: #ddd;
    margin-bottom: 1px;
    padding: 5px 3px;
}

li a:hover {
    background-color: #f0f8ff;
}

footer {

    text-align: center;
}

#section1 {
    float: left;
}

#section2 {
    text-align: center;
}

#section3 {

    text-align: center;
    background-color: rgb(11, 37, 85);
    padding: 10px;
    clear: both;
}

